body{
background-color: lightpink;
color: deeppink;
font-family: "Playfair Display", serif;
}

footer{
    background-color: rgb(219, 151, 178);
    color: rgb(0, 0, 0);
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 40px;
}

footer p{
    text-align: center;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}